html {
    font-family: 'Roboto', sans-serif;

}

a {
    color: #FFFFFF;
    text-decoration: none;
}

ul {
    padding: 0px;
}

.main {
    width: 752px;
    margin: 0px auto;
    font-size: 24px;
}

/*хедер*/
.header {
    background-color: #2d7053;
    width: 752px;
    height: 237px;
    position: relative;
}

.logo {
    margin: 47px 0px 0px 36px;
    display: inline-block
}

.text {
    width: 134px;
    height: 131px;
    font-size: 30px;
    color: #FFFFFF;
    bottom: 37px;
    left: 238px;
    position: absolute;
}

.blockrectangle {
    width: 87px;
    left: 621px;
    bottom: 46px;
    position: absolute;
}

.rectangle {
    width: 87px;
    height: 15px;
    display: block;
    background-color: #FFFFFF;
    margin-bottom: 13px;
    border-radius: 10px;
}

/*блок другий кімната кнопка*/
.content {
    width: 752px;
    height: 1486px;
    background-color: #FFFFFF;
    position: relative;
}

.photoroom {
    background-image: url(./imagepsychologist/Прямоугольник\ 33.png);
    width: 752px;
    height: 470px;
    position: relative;
}

.button {
    background-color: #CB9223;
    width: 344px;
    height: 77px;
    bottom: 51px;
    left: 204px;
    position: absolute;
}

.buttontext {
    width: 251px;
    font-size: 17px;
    margin: 30px 47px;
    text-align: center;
    display: inline-block;
}

.photo {
    width: 255px;
    height: 255px;
    background-image: url(./imagepsychologist/154-9254.png);
    border-radius: 100%;
    margin-top: 64px;
    margin-left: 44px;
    display: inline-block;
}

.blocktext {
    width: 325px;
    top: 599px;
    margin-left: 367px;
    position: absolute;
}

/*текст имя фамилия*/
.text1 {
    font-size: 36px;
    display: inline-block;
}

/*текст писихотерапевт такой то специализации*/
.text2 {
    margin-top: 8px;
    display: inline-block;
}

/*текст Тут психолог рассказывает...*/
.text3 {
    line-height: 1.2;
    margin: 50px 0px 0px 44px;
    display: inline-block;
}

/*текст причины...*/
.text4 {
    font-size: 36px;
    margin: 30px 0px 0px 44px;
    display: inline-block;
}

/*список*/
.list {
    margin: 30px 0px 0px 44px;
    display: inline-block;
    line-height: 1.2;
}

/*кнопка2*/
.button2 {
    background-color: #CB9223;
    width: 344px;
    height: 77px;
    left: 204px;
    bottom: 47px;
    position: absolute;
}

.buttontext2 {
    width: 251px;
    font-size: 17px;
    margin: 30px 47px;
    text-align: center;
    display: inline-block
}

.footer {
    background-color: #888888;
    height: 156px;
    width: 752px;
    position: relative;
}

/*елипс2*/
.logo2 {
    margin: 29px 0px 0px 44px;
    display: inline-block;
}

.address {
    font-size: 17px;
    color: #FFFFFF;
    bottom: 18px;
    left: 326px;
    position: absolute;
}

.email {
    font-size: 17px;
    top: 100px;
    left: 555px;
    position: absolute;
}

.phone {
    font-size: 17px;
    top: 58px;
    left: 571px;
    position: absolute;
}