html {
    font-family: Arial, Helvetica, sans-serif;
}

a,
div[title="logo"] {
    background-repeat: no-repeat no-repeat;
}

:root {
    --size: 100%;
}

body {
    width: var(--size);
    max-width: 3986px;
    max-height: 5652px;
    margin: 0px auto;
    padding: 0px;
    grid-template-columns: 48.17% 1fr;
    grid-template-rows: 5652px;
    grid-column-gap: 17.56%;
    display: grid;
}

.left {
    width: var(--size);
    margin: 0px auto;
    padding: 0px;
    position: relative;
    display: grid;
}

section:nth-child(1) {
    display: grid;
}

.rectangle3 {
    width: 13px;
    height: 13px;
    background-image: url(./articlepng/Прямоугольник\ 3.png);
    top: 773px;
    left: 36.51%;
    position: absolute;
}

/*home*/
.right {
    width: var(--size);
    padding: 0px;
    height: 2512px;
    grid-template-columns: 1fr;
    grid-template-rows: 135px 641px 1736px;
    margin-top: 55px;
    display: grid;
}

header {
    width: var(--size);
    margin: 0px auto;
    padding: 0px;
    background-color: #000000;
    grid-template-columns: 45% 36.7% 18.3%;
    display: grid;
}

/*зображення вантажівка2*/
.truckjpg2 {
    margin: 0px auto;
    position: absolute;
}

.logo {
    width: 22.5%;
    margin-top: 58px;
    margin-left: 3.25%;
    display: grid;
    z-index: 99;
}

.logopng {
    margin-top: 6px;
}

nav {
    width: var(--size);
    grid-template-columns: 8.38% 9.37% 14.96% 16.58% 7.58% 8.18%;
    grid-gap: 6.99%;
    display: grid;
    z-index: 99;
}

.navpng {
    margin-top: 81px;
}

.search {
    width: var(--size);
    grid-template-columns: 16% 84%;
    display: grid;
    z-index: 99;
}

.dandruffpng {
    width: 57.5%;
    margin-top: 81px;
    margin-left: 42.5%;
}

.navrectangle {
    width: 89.5%;
    height: 61px;
    border: 1px solid #ffffff;
    margin-top: 58px;
    grid-template-columns: 83% 17%;
    display: grid;
}

.navgetfreequote {
    margin-top: 24px;
    margin-left: 23.715%;
}

.navarrow {
    margin-top: 23px;
    margin-left: 50%;
}

aside {
    width: var(--size);
    margin: 0px auto;
    padding: 0px;
    display: grid;
    grid-template-rows: 166px 71px;
    grid-gap: 55px;
    background-color: #000000;
}

.experttext {
    margin-left: 41.87%;
    z-index: 99;
}

.asidebutton {
    margin-left: 42.31%;
    z-index: 99;
}

main {
    width: var(--size);
    margin: 0px auto;
    padding: 0px;
    grid-template-rows: 652px 1084px;
    display: grid;
    background-color: #000000;
}

main section:nth-child(1) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 525px;
    display: grid;
    background-color: rgb(59, 59, 59);
}

div[title="list"] {
    background-color: rgba(255, 255, 255, 1);
    position: relative;
}

.block1 {
    width: 87.2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 525px;
    left: 10.32%;
    bottom: 20px;
}

.list1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 224px 79px;
    grid-gap: 49px;
    right: 3.02%;
    border: 0.5px solid #e3e3e3;
}

.dogs1 {
    width: 87.41%;
    bottom: 44px;
    left: 9.32%;
    position: relative;
}

.description1 {
    width: 69.41%;
    bottom: 44px;
    left: 12.59%;
    position: relative;
    display: grid;
}

.redrectangle1 {
    width: 46.67%;
    height: 13px;
    bottom: 35px;
    background-color: rgba(214, 12, 24, 1);
    position: absolute;
}

.block2 {
    width: 87.2%;
    display: grid;
    left: 6.3%;
    bottom: 20px;
}

.list2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 226px 71px;
    grid-gap: 58px;
    right: 1.01%;
    border: 0.5px solid #e3e3e3;
}

.whiterectangle {
    width: 89.45%;
    height: 226px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 266px;
    left: 3.5%;
    bottom: 41px;
}

.dogs2 {
    width: 115.54%;
    bottom: 47px;
    right: 16%;
    position: relative;
}

.description2 {
    width: 67.86%;
    bottom: 41px;
    left: 6.8%;
    position: relative;
    display: grid;
}

.redrectangle2 {
    width: 47.73%;
    height: 13px;
    bottom: 24px;
    background-color: rgba(214, 12, 24, 1);
    position: absolute;
}

.block3 {
    width: 87.2%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 317px 14px;
    left: 3.59%;
    bottom: 20px;
}

.photoroom {
    width: 83.1%;
    left: 7.55%;
    bottom: 41px;
    position: relative;
}

.redrectangle3 {
    width: 31.74%;
    height: 13px;
    bottom: 39px;
    left: 3.78%;
    position: relative;
    background-color: rgba(214, 12, 24, 1);
}

main section:nth-child(2) {
    grid-template-columns: 1fr;
    grid-template-rows: 569px;
    display: grid;
}

.whiterectangle2 {
    width: 98.75%;
    height: 569px;
    grid-template-columns: 1fr;
    bottom: 16px;
    display: grid;
    border: 1px solid rgb(59, 59, 59);
}

.services {
    width: 22.32%;
    height: 38px;
    grid-template-columns: 3.33% 69.10% 27.57%;
    top: 123px;
    left: 77.11%;
    position: relative;
    display: grid;
}

.arrow99 {
    width: var(--size);
    top: 8px;
    position: relative;
}

.textservices {
    width: 88.95%;
    left: 11.05%;
    position: relative;
}

.rectangle99 {
    width: 12.05%;
    height: 8px;
    top: 30px;
    left: 87.95%;
    position: relative;
}