@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Oswald&display=swap');

/*size 1440px container width 1320px*/
:root {
    --size: 100%;
    --container-width: 91.667%;
    --secondary: #a04955;
}

a {
    text-decoration: none;
    color: #000000;
}

a[title="search"] {
    color: #787878;
}

a[title="white"] {
    color: #FFFFFF;
}

.btn_txts2 p>a {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

p[title="price"],
[title="name"] {
    color: #333333;
}

p[title="name"] {
    text-transform: capitalize;
}

.nav_bar ul>li:first-of-type {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.8;
    text-transform: uppercase;
    color: #FFFFFF;
}

li::first-letter {
    text-transform: uppercase;
}

.txt_s1,
.txt_s3,
.txt_s4,
.txt_s5,
.txt_s7,
.btn_txts1,
.btn_txts3,
.btn_txts4,
.btn_txts7,
p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
}

.nav_list,
.input_search,
.txt_s2,
.htxt_s1,
.htxt_s2,
.htxt_s3,
.htxt_s5,
.htxt_s6,
.htxt_s7,
.btn_txts1,
.btn_txts3,
.btn_txts4,
.btn_txts5,
.btn_txts6,
.btn_txts7 {
    text-transform: uppercase;
}

.htxt_s1,
.htxt_s3,
.htxt_s5,
.htxt_s6 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 96px;
}

.nav_list a {
    color: #333333;
}

.nav_bar li {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.8;
    text-transform: capitalize;
    color: #FFFFFF;
}

.nav_bar a {
    color: #FFFFFF;
}

p::first-letter {
    text-transform: capitalize;
}

figcaption p {
    text-transform: uppercase;
    color: #FFFFFF;
}

body {
    margin: 0px auto;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif;
}

/*хедер 1440*167 з ліва на право лого навігація пошук*/
header {
    width: var(--size);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 167px;
    justify-items: center;
    align-items: baseline;
    background-color: #FFFFFF;
}

.header_top {
    width: var(--container-width);
    margin-top: 33px;
    grid-template-columns: 25.985% 74.015%;
    display: grid;
    align-items: center;
}

/*навігація*/
.nav_logo {
    width: var(--size);
    height: auto;
    display: grid;
}

.nav {
    display: grid;
    grid-template-columns: 6.144% 4.813% 5.53% 102px 3.685% 274px;
    column-gap: 4.605%;
    align-items: center;
    justify-content: end;
}

.nav_list {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}

.input_search {
    width: 270px;
    height: 40px;
    display: grid;
    border-radius: 54px;
    border: 1px solid var(--secondary);
    grid-template-columns: 19.26% 77.04%;
    column-gap: 10px;
}

input[type="search"] {
    width: 195px;

    border-style: none;
    padding: 0px;
    text-transform: uppercase;

    align-self: center;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

    color: #787878;
}

input[type="image"] {
    justify-self: end;
    align-self: center;
}

/*майн 1440*3775 п'ять секцій з верху до низу*/
main {
    width: var(--size);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 711px 745px 813px 956px 550px;
    background-color: #FFFFFF;
}

/*перша секція майна ліва права сторони два діва(1) з ліва на право(2)*/
main section:nth-child(1) {
    width: var(--container-width);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
}

main section:nth-child(1)>div:nth-child(1) {
    width: var(--size);
    grid-template-rows: 340px 63px 50px;
    display: grid;
}

.htxt_s1 {
    margin-top: 138px;
    color: #001F3D;
}

.btn_s1 {
    box-sizing: border-box;
    width: 240px;

    position: relative;
    border: 1px solid #000000;

    display: grid;
    align-items: center;
    cursor: pointer;
}

.btn_txts1 {
    text-align: center;
}

main section:nth-child(1)>div:nth-child(2) {
    width: var(--size);
    display: grid;
    position: relative;
}

.rectangle_s11 {
    box-sizing: border-box;
    width: calc(var(--size)*0.7833);
    height: 465px;

    position: relative;
    top: 156px;
    border: 1px solid var(--secondary)
}

.rectangle_s12 {
    box-sizing: border-box;
    width: calc(var(--size)*0.7833);
    height: 465px;
    display: grid;
    position: absolute;

    justify-self: end;
    background: var(--secondary);
}

.photo_s1 {
    height: auto;
    display: grid;
    position: absolute;
    left: 11.21%;
    top: 35px;
}

/*друга секція майна ліва права сторони два діва з верху(1) до низу(2)*/
main section:nth-child(2) {
    width: var(--size);
    display: grid;
    grid-template-rows: 250px 495px;
    justify-items: center;
    background-color: #F1F1F1;
}

main section:nth-child(2)>div:nth-child(1) {
    width: var(--size);
    grid-template-rows: 133px 117px;
    display: grid;
    justify-items: center;
}

.htxt_s2 {
    margin-top: 80px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 53px;

    color: #333333;
}

.txt_s2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;

    color: #333333;
}

main section:nth-child(2)>div:nth-child(2) {
    width: var(--container-width);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 416px;
    column-gap: 5.0505%;
}

.rectangle_s21 {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-rows: 202px 72px 34px 42px 35px;
    justify-items: center;
}

.photo_s2 {
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 32px;
    text-align: center;
}

.name_s21 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

.name_s22,
.name_s24 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

.name_s23 {
    margin-top: 18px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

.starbox {
    width: calc(var(--size)/2);
    height: auto;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 3.57%;
    justify-items: center;
}

.price_s2 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 27px;

    text-align: center;
}

.btn_s2 {
    width: 130px;
    display: grid;
    grid-template-columns: 20.8% 74.6%;
    column-gap: 4.6%;
    background: var(--secondary);
    cursor: pointer;
}

.lock {
    align-self: center;
    justify-self: end;
}

/*третя секція майна ліва права сторони два діва з ліва(1) на право(2)*/
main section:nth-child(3) {
    width: var(--container-width);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: center;
}

main section:nth-child(3)>div:nth-child(1) {
    width: var(--size);
    display: grid;
    position: relative;
    justify-items: end;
}

.rectangle_s31 {
    width: calc(var(--size)*0.7833);
    height: 465px;

    position: relative;
    top: 102px;

    box-sizing: border-box;
    border: 1px solid var(--secondary);

}

.rectangle_s32 {
    width: calc(var(--size)*0.7833);
    height: 465px;

    position: absolute;
    left: 10%;
    top: 258px;

    box-sizing: border-box;
    border: 1px solid var(--secondary);
}

.photo_s3 {
    height: auto;
    position: absolute;
    top: 90px;
    justify-self: center;
}

main section:nth-child(3)>div:nth-child(2) {
    width: var(--size);
    display: grid;
    grid-template-rows: 341px 162px 50px;
}

.htxt_s3 {
    margin-left: 9.09%;
    margin-top: 139px;
    color: #001F3D;
}

.txt_s3 {
    margin-left: 9.09%;
}

.btn_s3 {
    box-sizing: border-box;
    width: 240px;
    margin-left: 9.09%;
    border: 1px solid #000000;
    display: grid;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}

.btn_txts3 {
    width: 216px;
    text-align: center;
}

/*четверта секція майна ліва права сторони два діва з ліва(1) на право(2)*/
main section:nth-child(4) {
    width: var(--size);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5%;
    background-color: #F5F5F5;
}

main section:nth-child(4)>article:nth-child(1) {
    display: grid;
    grid-template-rows: 624px 192px 50px;
    justify-self: end;
    justify-items: center;
}

.photo_left {
    height: auto;
    position: relative;
    display: grid;
    align-items: end;
}

.rectangle_s4 {
    width: var(--size);
    position: absolute;
    background: var(--secondary);
    opacity: 0.8;
    display: grid;
}

.name_s4 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 86px;
    text-align: center;
}

.txt_s4 {
    margin-top: 35px;
    text-align: center;
}

.btn_left {
    box-sizing: border-box;
    width: 366px;

    background: #F1F1F1;
    border: 1px solid #000000;
    display: grid;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}

.btn_txts4 {
    width: 330px;
    text-align: center;
}

main section:nth-child(4)>article:nth-child(2) {
    display: grid;
    grid-template-rows: 624px 192px 50px;
    justify-items: center;
    justify-self: start;
}

.photo_right {
    height: auto;
    position: relative;
    display: grid;
    align-items: end;
}

.btn_right {
    box-sizing: border-box;
    width: 366px;

    background: #F1F1F1;
    border: 1px solid #000000;
    display: grid;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}

/*п'ята секція майна ліва права сторони два діва з ліва(1) на право(2)*/
main section:nth-child(5) {
    width: var(--size);
    display: grid;
    grid-template-columns: 1fr;
}

.photo_s5 {
    width: var(--size);
    height: auto;
    background-image: url(./mainpng/image10.png);
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-rows: 232px 228px 50px;
    justify-content: start;
}

.htxt_s5 {
    left: 21.11%;
    top: 40px;
    position: relative;
    z-index: 99;
    color: #FFFFFF;
}

.txt_s5 {
    left: 21.11%;
    position: relative;
    z-index: 99;
    color: #FFFFFF;
}

.btn_s5 {
    width: 405px;

    left: 21.11%;
    position: relative;

    display: grid;
    justify-items: center;
    align-items: center;

    background: var(--secondary);
    z-index: 99;
    cursor: pointer;
}

.btn_txts5 {
    width: 364px;
    text-align: center;
    color: #FFFFFF;
}

/*aside*/
aside {
    width: var(--size);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 843px 412px;
    background-color: #FFFFFF;
}

aside section:nth-child(1) {
    width: var(--size);
    display: grid;
    grid-template-rows: 429px 414px;
    justify-items: center;
}

aside section:nth-child(1)>div:nth-child(1) {
    width: var(--container-width);
    grid-template-columns: 1fr;
    display: grid;
}

.rectangle_s6 {
    background: var(--secondary);
    margin-top: 90px;
    display: grid;
}

.htxt_s6 {
    text-align: center;
    color: #FFFFFF;
}

aside section:nth-child(1)>div:nth-child(2) {
    width: var(--size);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.rectangle_s61 {
    width: calc(var(--size)*0.79305);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 352px;
    column-gap: 8.756%;
    position: relative;
    bottom: 245px;
}

.rectangle_s62 {
    box-sizing: border-box;
    width: var(--size);
    position: relative;
    grid-template-rows: 223px 51px 40px;
    display: grid;
    background: #FFFFFF;
    border: 1px solid var(--secondary);
    justify-items: center;
}

.photo_s61 {
    display: grid;
    height: auto;
    align-self: center;
    text-align: center;
}

.photo_s62 {
    display: grid;
    height: auto;
    margin-top: 15px;
    text-align: center;
}

.photo_s63 {
    display: grid;
    height: auto;
    align-self: center;
    text-align: center;
    margin-top: 40px;
}

.name_s6 {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

.btn_s6 {
    width: 242px;
    display: grid;
    align-items: center;

    background: var(--secondary);
    cursor: pointer;
}

.btn_txts6 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;

    text-align: center;
    color: #FFFFFF;
}

aside section:nth-child(2) {
    width: var(--size);
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

aside section:nth-child(2)>div:nth-child(1) {
    width: 84.305%;
    grid-template-rows: 115px 131px 68px 55px;
    display: grid;
    background-color: #F3F3F3;
}

.photo_s7 {
    display: grid;
    height: auto;
    position: relative;
    bottom: 155px;
    justify-self: center;
}

.htxt_s7 {
    position: relative;
    top: 15px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    line-height: 96px;
    text-align: center;
    color: #001F3D;
}

.txt_s7 {
    position: relative;
    text-align: center;
}

.btn_s7 {
    box-sizing: border-box;
    width: 261px;
    justify-self: center;
    align-content: center;
    display: grid;
    background: #F3F3F3;
    border: 1px solid #000000;
    cursor: pointer;
}

.btn_txts7 {
    text-align: center;
}

footer {
    width: var(--size);
    grid-template-rows: 46px 420px 45px;
    display: grid;
    background-color: var(--secondary);
    justify-items: center;
}

.top {
    width: var(--size);
    background-color: #FFFFFF;
    display: grid;
}

.nav_bar {
    width: var(--container-width);
    margin-top: 50px;
    display: grid;
    grid-template-columns: 16.88% 13.55% 12.5% 47.5%;
    column-gap: 3.19%;
    background-color: var(--secondary);
}

.block_4 {
    width: var(--size);
    display: grid;
    grid-template-rows: 160px 61px;
}

.block_4>ul>li:nth-child(3) {
    margin-top: 36px;
}

.form_4 {
    justify-self: start;
}

.input_box {
    width: 515px;
    height: 61px;
    background-color: #F3F3F3;
    grid-template-columns: 1fr 1fr;
    display: grid;
}

input[type="email"] {
    width: 330px;
    height: 43px;
    padding: 0px;
    border-style: none;
    text-transform: uppercase;
    top: 9px;
    left: 9px;
    position: relative;
    background-color: #F3F3F3;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;
    align-items: center;
}

input[type="submit"] {
    width: 167px;
    height: 43px;
    text-transform: uppercase;
    background-color: var(--secondary);
    border-style: none;
    padding: 0px;
    top: 9px;
    left: 9px;
    position: relative;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 180.8%;
    align-items: center;
    color: #F3F3F3;
}

.bottom {
    width: var(--size);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 45px;
    background-color: #FFFFFF;
}

.mailorder {
    padding: 5px 5px;
    margin-left: 6.85%;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 180.8%;
    text-transform: capitalize;

    display: grid;
    align-self: center;
}

/*тест*/
#fixed-div {
    /*width: 6.076vw;
    height: 12.633vh;*/
    /*width: 6.076cqw;
    height: 12.633cqh;*/
    width: 83px;
    height: 83px;
    border-radius: 50%;
    background-color: var(--secondary);
    opacity: 0.5;

    position: fixed;
    bottom: 500px;
    right: 60px;

    text-align: center;
    line-height: normal;
}

.btn_arrow {
    /*font-size: 3cqi;*/
    font-size: 42px;
    font-weight: bold;
    color: #FFFFFF;
}