@font-face {
    font-family: 'minion_proregular';
    src: url(./font/MinionPro-Regular.otf), url(./font/minionpro-regular-webfont.woff), url(./font/minionpro-regular-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'minion_proregular';
    margin: 0px auto;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.clearfix::after,
.clearfix::before {
    content: "";
    display: block;
    clear: both;
}

.main {
    width: 1762px;
    height: 831px;
}

.left {
    width: 460px;
    float: left;
}

.logo {
    margin-top: 19px;
}

.right {
    width: 1302px;
    float: left;
}

.header {
    height: 72px;
    background-color: rgba(140, 10, 13, 1);
    margin: 0px auto;
}

/*навігація*/
.logo2 {
    margin: 16px 0px 0px 68px;
    float: left;
}

.english {
    margin-top: 36px;
    margin-left: 93px;
    float: left;
}

.nav {
    font-size: 14px;
    margin-bottom: 0px;
    margin-left: 0px;
    float: left;
}

.oroshen {
    color: #FFE394;
    margin-top: 36px;
    margin-left: 125px;
    float: left;
}

.new {
    color: #FCC57E;
    margin-top: 36px;
    margin-left: 30px;
    float: left;
}

.shop {
    color: #FBC37A;
    margin-top: 36px;
    margin-left: 32px;
    float: left;
}

.socialproject {
    color: #F8BD6F;
    margin-top: 36px;
    margin-left: 34px;
    float: left;
}

.career {
    color: #FABA67;
    margin-top: 36px;
    margin-left: 31px;
    float: left;
}

.contact {
    color: #F9BD6F;
    margin-top: 36px;
    margin-left: 32px;
    float: left;
}

.eng {
    font-size: 18px;
    margin-top: 32px;
    color: #F5B765;
    margin-left: 11px;
    display: inline-block;
}

.content {
    width: 1302px;
    margin: 0px auto;
}

/*слой15*/
.roshen15 {
    width: 1300px;
    background-image: url(./imageroshen/Слой\ 15.png);
}

.rectangle3 {
    width: 1302px;
    height: 687px;
    opacity: 0.8;
    background-color: rgba(245, 232, 198, 1);
}

.content {
    width: 1172px;
    margin: 0px auto;
}
.rectangle1 {
    height: 335px;
    background-color: rgba(174, 174, 174, 1);
    margin-top: 24px;
    display: inline-block;
    outline-width: 4px;
    outline-style: inset;
    outline-color: rgba(53, 4, 12, 1);
}

.photo {
    position: relative;
}

.leftarrow {
    top: 156px;
    left: 27px;
    position: absolute;
}

.rightarrow {
    top: 156px;
    left: 1086px;
    position: absolute;
}

.roshenworld {
    top: 31px;
    left: 358px;
    position: absolute;
}

.circle1 {
    top: 311px;
    left: 552px;
    position: absolute;
}

.circle2 {
    top: 311px;
    left: 576px;
    position: absolute;
}

.circle3 {
    top: 311px;
    left: 600px;
    position: absolute;
}

/*кнопка*/
.button {
    width: 191px;
    height: 44px;
    border-radius: 10px;
    border-bottom: 5px solid rgb(191, 103, 13);
    background-color: rgba(246, 204, 121, 1);
    top: 113px;
    left: 490px;
    position: absolute;
}

.buttontext {
    width: 165px;
    font-size: 24px;
    text-align: center;
    display: inline-block;
    margin: 8px 13px 8px 13px;
    color: #000000;
}

/*текст*/
.text {
    height: 310px;
    font-size: 15px;
    color: #050505;
    display: block;
    line-height: normal;
}

.block1 {
    width: 293px;
    float: left;
    overflow: auto;
}

/*Корпорация ROSHEN в 2016 году*/
.text11 {
    font-size: 17px;
    font-weight: 700;
}

.block2 {
    width: 293px;
    float: left;
    overflow: auto;
}

/*АНОНС: Открытие сезона работы фонтана ROSHEN в Виннице*/
.text21 {
    font-size: 17px;
    font-weight: 700;
}

.block3 {
    width: 293px;
    float: left;
    overflow: auto;
}

/*Акционеры Мариупольской*/
.text31 {
    font-size: 17px;
    font-weight: 700;
}

.block4 {
    width: 293px;
    float: left;
    overflow: auto;
}

/*Корпорация ROSHEN 4-ый год*/
.text41 {
    font-size: 17px;
    font-weight: 700;
}

/*футер*/
.footer {
    height: 72px;
    background-color: rgba(140, 10, 13, 1);
    margin: 0px auto;
}

.vk {
    background-image: url(./imageroshen/VK.png);
    width: 28px;
    height: 28px;
    margin-top: 22px;
    margin-left: 13px;
    float: left;
}

.fb {
    background-image: url(./imageroshen/FB.png);
    width: 28px;
    height: 28px;
    margin-top: 22px;
    margin-left: 69px;
    float: left;
}

.email {
    font-size: 14px;
    color: #F8B168;
    line-height: 2;
    margin-top: 6px;
    margin-left: 145px;
    float: left;
}

.phone {
    font-size: 14px;
    color: #F4AB64;
    line-height: 2;
    margin-top: 6px;
    margin-left: 145px;
    float: left;
}

.address {
    width: 165px;
    font-size: 14px;
    color: #F8C669;
    line-height: 2;
    margin-top: 6px;
    margin-left: 100px;
    float: left;
}

.www {
    width: 192px;
    font-size: 14px;
    color: #FBC86B;
    margin: 38px 0px 0px 68px;
    float: left;
}