body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 600px;
    margin: 0px auto;
    background-color: rgb(238, 228, 248);
}

form {
    width: 30%;
    height: 500px;
    border: 0.5px solid;
    margin: 50px auto;
    border-radius: 15px;
    border-color: rgb(31, 31, 112, 0.3);
    background-color: white;
}

legend {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.5em;
    margin: 40px auto;
    color: rgb(4, 4, 73, 0.5);
}

p {
    text-align: center;
    margin: 15px auto;
}

input {
    width: 70%;
    height: 30px;
    text-indent: 5px;
    padding: 0px;
    font-size: 0.8em;
    border-style: none;
    border-bottom: 0.5px solid rgb(31, 31, 112, 0.3);
    color: rgba(0, 0, 0, 0.6);
}

input[type="text"] {
    text-transform: capitalize;
}

input[type="reset"] {
    width: 70%;
    height: 20px;
    margin: 0px 15% 14px 15%;
    transition-property: all;
    transition-duration: 0.5s;
}

input[type="reset"]:hover {
    background-color: rgba(137, 43, 226, 0.3);
    transition-property: all;
    transition-duration: 1s;
    cursor: pointer;
}

input[type="reset"]:active {
    color: rgba(0, 0, 0, 0.6);
    background-color: rgb(238, 228, 248);
    transition-property: all;
    transition-duration: 0.5s;
}

input[type="submit"] {
    width: 35%;
    height: 111px;
    color: rgb(4, 4, 73, 0.5);
    border-radius: 50%;
    background: radial-gradient(circle at 70px 20px, rgb(31, 247, 12), blueviolet);
    text-transform: uppercase;
    margin: 0px 32.5%;
    cursor: pointer;
}

input[type="submit"]:hover {
    transition-property: all;
    transition-duration: 0.5s;
    background: radial-gradient(circle at 70px 20px, coral, blueviolet);
}

input[type="submit"]:active {
    transition-property: all;
    transition-duration: 0.5s;
    background: radial-gradient(circle at 70px 20px, white,  rgb(238, 228, 248));
}