:root {
    --size: 100%
}

a {
    font-size: 18px;
    text-decoration: none;
    color: white;
}

p {
    font-size: 18px;
    color: #c1c1c1;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: var(--size);
    margin: 0px auto;
    padding: 0px;
}

.group::after,
.group::before {
    content: '';
    display: table;
    clear: both;
}

.clearfix::after,
.clearfix::before {
    content: '';
    display: block;
    clear: both;
}

main {
    width: var(--size);
    margin: 0px auto;
    padding: 0px;
}

section {
    width: var(--size);
    margin: 0px auto;
    padding: 0px;
}

/*хедер: лого контактна вхід інформація зображення пошук*/
header {
    width: var(--size);
    height: 169px;
    margin: 0px auto;
    padding: 0px;
    background-color: #000000;
    clear: both;
}

/*логотип контактна інформація вхід*/

.boxlogo {
    width: 10%;
    height: 169px;
    float: left;
    position: relative;
}

.boxnav {
    width: 90%;
    height: 169px;
    float: right;
    position: relative;
}

.logopng {
    top: 60px;
    left: 51.01%;
    float: left;
    position: relative;
}

.mailpng {
    width: 36px;
    top: 70px;
    right: 11.23%;
    float: right;
    position: relative;
}

.email {
    width: 154px;
    top: 71px;
    right: 10.33%;
    float: right;
    position: relative;
}

.phonepng {
    width: 36px;
    top: 65px;
    right: 7.86%;
    float: right;
    position: relative;
}

.tel {
    width: 148px;
    top: 71px;
    right: 6.96%;
    float: right;
    position: relative;
}

.buttonlogin {
    width: 127px;
    height: 58px;
    background-color: #ffffff;
    border-radius: 30px;
    top: 55px;
    right: 4.49%;
    float: right;
    position: relative;
    cursor: pointer;
}

.logintext {
    width: 60px;
    height: 13px;
    color: #135ec5;
    font-size: 16px;
    word-spacing: normal;
    text-transform: uppercase;
    margin-top: 19px;
    margin-left: 33px;
    float: left;
}

/*вміст сторінки*/

.rectanglepage {
    height: 748px;
    background-color: #000000;
    position: relative;
    clear: both;
}

.changepng {
    margin-top: 78px;
    margin-left: 29.8%;
    float: left;
}

.yourpng {
    margin-top: 17px;
    margin-left: 15.85%;
    float: left;
}

.carpng {
    margin-top: 17px;
    margin-left: 24.24%;
    float: left;
}

.mercedespng {
    top: 173px;
    left: 30.25%;
    position: absolute;
}

.rectanglebullet {
    width: 4.6%;
    margin-top: 67px;
    height: 52px;
    float: right;
}

.bullet1png {
    width: 100%;
    float: left;
}

.bulletbluepng {
    width: 100%;
    margin-top: 8px;
    float: left;
}

.bullet2png {
    width: 100%;
    margin-top: 8px;
    float: left;
}

/*пошук табличний розділ*/

.rectanglepage15 {
    height: 217px;
    background-color: #000000;
    clear: both;
}

.rectangletable {
    width: 88.84%;
    height: 48px;
    font-size: 30px;
    margin-right: 4.9%;
    margin-top: 40px;
    border-spacing: 110px 0px;
    float: right;
}

.texttable {
    text-align: center;
    color: #ffffff;
}

p::first-letter,
td::first-letter {
    text-transform: uppercase;
}

.td {
    width: 27.295%;
    color: #3c3c3c;
    padding: 0px;
    border-bottom: 1px solid #3c3c3c;
}

.buttonsearch {
    width: 215px;
    height: 56px;
    background-color: rgba(19, 94, 197, 1);
    border-radius: 30px;
    cursor: pointer;
    float: right;
}

.searchtext {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    margin: 18px 71.5px;
}

/*навігація лого бмв серія оголошення*/
article {
    height: 853px;
    margin: 0px auto;
}

.nav1 {
    width: var(--size);
    height: 218px;
    border-bottom: 1px solid #c1c1c1;
    top: 59px;
    position: relative;
}

.textlogo {
    text-align: center;
}

.mazda {
    left: 5.20%;
    top: 94px;
    position: absolute;
}

.hyundai {
    left: 18.535%;
    top: 92px;
    position: absolute;
}

.bmw {
    left: 34.24%;
    top: 88px;
    position: absolute;
}

.volvo {
    left: 48.585%;
    top: 86px;
    position: absolute;
}

.chevrolet {
    left: 61.87%;
    top: 98px;
    position: absolute;
}

.mercedes {
    left: 77.88%;
    top: 89px;
    position: absolute;
}

.honda {
    left: 91.97%;
    top: 90px;
    position: absolute;
}

/*бмв серія*/
.leftbmwseries {
    width: 46.5%;
    height: 574px;
    float: left;
    position: relative;
}

.bmwpng {
    margin-top: 150px;
    margin-left: 19.24%;
    float: left;
}

.seriespng {
    margin-top: 14px;
    margin-left: 30.3%;
    float: left;
}

.photobmwpng {
    top: 185px;
    left: 14.54%;
    position: absolute;
}

/*опис права сторона*/
.rightbmwseries {
    width: 48.69%;
    height: 574px;
    float: right;
}

.textbmwseries {
    width: 36.8%;
    color: #135ec5;
    font-size: 56px;
    text-transform: capitalize;
    margin-top: 158px;
}

.description {
    font-size: 16px;
    line-height: 3;
    margin-top: 49px;
}

.buttonallmodels {
    width: 217px;
    height: 58px;
    background-color: rgba(19, 94, 197, 1);
    border-radius: 30px;
    margin-top: 40px;
    float: left;
    cursor: pointer;
}

.buttonallmodelstext {
    width: 170px;
    height: 13px;
    color: #ffffff;
    font-size: 16px;
    word-spacing: 5px;
    text-transform: uppercase;
    margin-top: 21px;
    margin-left: 23px;
    float: left;
}

/*розділ оголошення*/
.addnowrectangle {
    width: var(--size);
    height: 544px;
    background-color: rgba(19, 94, 197, 1);
    top: 55px;
    float: left;
    position: relative;
}

.addnowtext {
    width: var(--size);
    margin-top: 147px;
    font-size: 60px;
    text-align: center;
    color: #ffffff;
}

.buttonaddnow {
    width: 217px;
    height: 58px;
    background-color: rgba(19, 94, 197, 1);
    border-radius: 30px;
    border: 1px solid #ffffff;
    margin-top: 55px;
    margin-right: 44.52%;
    float: right;
    cursor: pointer;
}

.buttonaddnowtext {
    width: 95px;
    height: 13px;
    color: #ffffff;
    font-size: 16px;
    word-spacing: 5px;
    text-transform: uppercase;
    margin-top: 21px;
    margin-left: 61px;
    float: left;
}

.photobmw2png {
    top: 402px;
    left: 32.5%;
    float: left;
    position: absolute;
}

/*пропозиція замовлення*/
.left {
    width: 43%;
    height: 835px;
    margin: 0px auto;
    float: left;
}

.small {
    width: 54.5%;
    height: 571px;
    margin-top: 75px;
    margin-left: 21%;
    float: left;
    box-shadow: 0.5px 0.5px 100px #e2e2e2;
}

.smallrectangle {
    width: var(--size);
    height: 191px;
    background-color: rgba(19, 94, 197, 1);
    position: relative;
}

.furiepng {
    width: var(--size);
    margin: -21px auto;
    opacity: 0.05;
    float: left;
}

.photomercedes2png {
    top: 126px;
    left: 20%;
    position: absolute;
}

.buttonfresh {
    width: 88px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 30px;
    margin-top: 28px;
    margin-right: 7.1%;
    float: right;
    cursor: pointer;
}

.freshtext {
    color: #135ec5;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 9px;
    margin-left: 19px;
    float: left;
}

.mercedesbenztext {
    font-size: 30px;
    color: black;
    text-align: center;
    text-transform: capitalize;
    margin-top: 130px;
}

.mercedescartext {
    font-size: 14px;
    text-transform: capitalize;
    margin-top: 5px;
    text-align: center;
    color: #135ec5;
}

.diesel {
    word-spacing: normal;
    margin-top: 37px;
    text-align: center;
}

.price {
    font-size: 30px;
    color: #16ad2c;
    text-transform: capitalize;
    margin-top: 50px;
    margin-left: 11.8%;
    float: left;
}

.buttonmoreinfo {
    width: 195px;
    height: 52px;
    background-color: rgb(226, 226, 226);
    border-radius: 30px;
    margin-top: 43px;
    margin-right: 12.69%;
    float: right;
    cursor: pointer;
}

.moreinfotext {
    width: 110px;
    color: white;
    font-size: 18px;
    word-spacing: normal;
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: 48px;
    float: left;
}

/*замовлення*/
.right {
    width: 57%;
    height: 835px;
    margin: 0px auto;
    float: left;
}

.bigger {
    width: 84.3%;
    height: 686px;
    box-shadow: 0.5px 0.5px 100px #e2e2e2;
    float: left;
}

.whiterectangle {
    width: 53.78%;
    height: 686px;
    float: left;
}

.mercedescartext2 {
    font-size: 14px;
    text-transform: capitalize;
    color: #e2e2e2;
    margin-top: 71px;
    margin-left: 11.7%;
    float: left;
}

.price2 {
    font-size: 30px;
    color: #16ad2c;
    text-transform: capitalize;
    margin-top: 62px;
    margin-left: 36.3%;
    float: left;
}

.mercedesbenztext2 {
    font-size: 30px;
    color: #135ec5;
    text-transform: capitalize;
    margin-top: 222px;
    margin-left: 11.53%;
}

.description2 {
    font-size: 16px;
    line-height: 2.5;
    margin-top: 48px;
    margin-left: 11.53%;
}

.buttonordercar {
    width: 217px;
    height: 58px;
    background-color: rgba(19, 94, 197, 1);
    border-radius: 30px;
    margin-top: 70px;
    margin-left: 11.53%;
    cursor: pointer;
}

.buttonordercartext {
    color: #ffffff;
    font-size: 16px;
    word-spacing: 5px;
    text-transform: uppercase;
    margin-top: 21px;
    margin-left: 53px;
    float: left;
}

.bluerectangle {
    width: 46.22%;
    height: 686px;
    background-color: rgba(19, 94, 197, 1);
    float: left;
}

.buttonfresh2 {
    width: 88px;
    height: 32px;
    background-color: #ffffff;
    border-radius: 30px;
    margin-top: 57px;
    margin-right: 7.5%;
    float: right;
    cursor: pointer;
}

.mersedesbenzpng {
    top: 74px;
    right: 19%;
    position: relative;
}

.bullet1 {
    width: 9px;
    margin-top: 136px;
    margin-left: 44.85%;
    float: left;
}

.bulletwhite {
    width: 9px;
    margin-top: 136px;
    margin-left: 3.4%;
    float: left;
}

.bullet2 {
    width: 9px;
    margin-top: 136px;
    margin-left: 3.4%;
    float: left;
}

footer {
    width: var(--size);
    height: 1040px;
    margin: 0px auto;
    padding: 0px;
    float: left;
}

.rectanglefooter {
    width: 74%;
    height: 867px;
    margin-left: 13%;
    box-shadow: 0.5px 0.5px 100px #e2e2e2;
    float: left;
}

.rectanglefooterwhite {
    width: var(--size);
    height: 494px;
    position: relative;
}

.tablefooter {
    width: var(--size);
    font-size: 18px;
    border-bottom: 1px solid rgba(193, 193, 193, 0.2);
    border-collapse: separate;
    border-spacing: 45px;
    margin-top: 35px;
    float: left;
}

.tdform {
    width: 20.82%;
    height: 35px;
    color: #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
}

.mazda_f {
    left: 5.20%;
    position: absolute;
}

.hyundai_f {
    left: 18.535%;
    position: absolute;
}

.bmw_f {
    left: 34.24%;
    position: absolute;
}

.volvo_f {
    left: 48.585%;
    position: absolute;
}

.chevrolet_f {
    left: 61.87%;
    position: absolute;
}

.mercedes_f {
    left: 77.88%;
    position: absolute;
}

.honda_f {
    left: 91.97%;
    position: absolute;
}

.warshawpolandtext {
    text-transform: capitalize;
    color: #000000;
}

.tablefooter2 {
    width: var(--size);
    margin-top: 100px;
    border-collapse: separate;
    border-spacing: 45px 0px;
    font-size: 18px;
    float: left;
}

.tdform2 {
    width: 20.82%;
    height: 30px;
    color: #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
}

.rectanglefooterblue {
    width: var(--size);
    height: 373px;
    background-color: #135ec5;
    position: relative;
    float: left;
}

.nav2 {
    width: var(--size);
    height: 100px;
    margin-top: 25px;
    position: relative;
    float: left;
}

.pin {
    top: 80px;
    left: 47.2%;
    position: absolute;
}

.tablefooter3 {
    width: var(--size);
    margin-top: 35px;
    border-collapse: separate;
    border-spacing: 45px;
    font-size: 18px;
    float: left;
}

.tdform3 {
    width: 20.82%;
    height: 35px;
    color: #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    opacity: 0.25;
}

.tdform4 {
    width: 20.82%;
    height: 35px;
    color: #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    opacity: 0.25;
}

.transmissiontext {
    color: #ffffff;
    border-bottom: 1px solid #cecccc25;
    opacity: 1;
}

.buttonfooter {
    width: 190px;
    height: 72px;
    background-color: rgba(19, 94, 197, 1);
    border-radius: 30px 30px 0px 0px;
    bottom: 337px;
    left: 43.5%;
    position: absolute;
}

.buttonfootertext {
    width: 164px;
    height: 13px;
    color: #ffffff;
    font-size: 12px;
    word-spacing: 0px;
    text-transform: uppercase;
    margin-top: 14px;
    margin-left: 13px;
    float: left;
}

.buttonsearchfooter {
    width: 207px;
    height: 58px;
    background-color: #ffffff;
    border-radius: 30px;
    bottom: 56px;
    left: 43%;
    position: absolute;
}

.searchfootertext {
    width: 67px;
    height: 13px;
    color: rgba(19, 94, 197, 1);
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 21px;
    margin-left: 70px;
    float: left;
}