body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px auto;
    padding: 0px;
}

a{
    text-decoration: none;
}
h1 {
    margin: 0px auto;
    font-size: 34px;
    letter-spacing: 15px;
    color: #969604;
    left: 307px;
    top: 550px;
    position: absolute;
}

#main {
    width: 755px;
    height: 2638px;
    margin: 0px auto;
    border: 3px solid #536573;
    /*background-color: #969604;*/
    position: relative;
}

.menu {
    background-image: url(./imagemenu/menuempty.png);
    opacity: 0.9;
}

.free {
    width: 747px;
    height: 2632px;
    border: 4px solid #969604;
    transition: transform 3s ease-in-out;
    background-color: #f2f2f2;
}

.free:hover {
    background-color: #969604;
    transform: scale(0, 1);
    /*transform: scale3d(0, 0, 1);*/
}

.free:active {
    background-color: #536573;
}

.coffee {
    width: 256px;
    height: 273px;
    background-image: url(./imagemenu/coffee.png);
    background-repeat: no-repeat no-repeat;
    left: 245px;
    top: 190px;
    position: absolute;
}
