body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0px auto;
    padding: 0px;
}

a {
    text-decoration: none;
    display: inline-block;
    font-weight: bolder;
    border-radius: 7px;
    border: 1px dotted #536573;
    color: #969604;
    background-color: rgba(242, 242, 242, 1);
    transition-property:width;
}

a:link {
    transition-property: all;
    transition-duration: 0.5s;
}

a:visited {
    background-color: #f2f2f2;
    transition-property: all;
    transition-duration: 1s;
}

a:hover {
    width: 110px;
    background-color: #536573;
    transition-duration: 0.5s;
    color: #f2f2f2;
}

a:active {
    background-color: coral;
    transition-property: all;
    transition-duration: 0.5s;
}

h1 {
    margin: 0px auto;
    font-size: 30px;
    letter-spacing: 15px;
    color: #536573;
    text-transform: uppercase;
    margin-left: 312px;
    position: absolute;
    z-index: 1;
}

h1::first-letter {
    font-size: 26px;
    font-style: italic;
    color: #ffffff;
}

#main {
    width: 755px;
    margin: 0px auto;
    border: 2px solid #536573;
    background-color: #969604;
    position: relative;
}

.menu {
    width: 754px;
    margin: 0px auto;
    transition: transform 0.5s ease-in-out;
    background-color: #f2f2f2;
    position: relative;
}


.menu:hover {
    border: 2px solid #969604;
    -o-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
}

.button {
    width: 100px;
    height: 50px;
    font-size: 24px;
    text-align: center;
}

.breakfast {
    width: 749px;
    height: 480px;
    top: 8px;
    position: absolute;
}

.hot {
    width: 749px;
    height: 360px;
    top: 584px;
    position: absolute;
}

.salads {
    width: 749px;
    height: 360px;
    top: 1040px;
    position: absolute;
}

.soups {
    width: 749px;
    height: 480px;
    top: 1496px;
    position: absolute;
}

.maincourse {
    width: 749px;
    height: 480px;
    top: 2072px;
    position: absolute;
}

.price {
    margin-top: 68px;
    margin-left: 618px;
}

.text {
    width: 100px;
    height: 24px;
    margin-top: 13px;
}