@font-face {
    font-family: 'open_sansregular';
    src: url('./fontopensans/opensans-regular-webfont.woff2') format('woff2'),
        url('./fontopensans/OpenSans-Regular.ttf') format('ttf'),
        url('./fontopensans/OpenSans-Regular.otf') format('otf'),
        url('./fontopensans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: 'open_sansregular';
    margin: 0px auto;
    padding: 0px;
}

a {
    text-decoration: none;
}

a:nth-child(1) {
    color: #ffffff;
}

a:nth-child(2) {
    color: #ffffff;
}

a:nth-child(3) {
    color: #ffffff;
}

a:nth-child(4) {
    color: #ffffff;
}

a:nth-child(5) {
    color: #ffffff;
}

/*комбінація селекторів
a[href="#"][title="nav3"] {
    color: #656565;
}*/
a[title="nav3"] {
    color: #656565;
}

p {
    margin: 0px auto;
    display: inline-block;
}


p[title="description"] {
    width: 150px;
    color: #464148;
    font-size: 14px;
    word-spacing: normal;
    white-space: nowrap;
    margin-top: 25px;
    margin-left: 8px;
    display: block;
}

p[title="price"] {
    color: #9cc265;
    font-size: 16px;
    word-spacing: normal;
    margin-top: 3px;
    margin-left: 8px;
    display: block;

}

span {
    color: #464148;
}

span[title="colortext"] {
    color: #bef2ff;
}

ul {
    font-size: 13px;
    color: white;
    word-spacing: normal;
    line-height: 1.5;
    padding: 0px;
    list-style-type: none;
}

.clearfix::after,
.clearfix::before {
    content: '';
    display: block;
    clear: both;
}

.header {
    width: 1402px;
    height: 113px;
    margin: 0px auto;
}

.rectangle1 {
    height: 66px;
    background-color: #ffffff;
}

.menu {
    height: 45px;
    background-color: #4cb1ca;
    border-top: 2px solid #ffffff;
    font-size: 13px;
    color: #bef2ff;
}

.nav1 {
    margin: 16px 0px 0px 189px;
    display: block;
    word-spacing: 6px;
    white-space: normal;
    float: left;
}

.nav2 {
    width: 357px;
    white-space: normal;
    word-spacing: 6px;
    margin: 17px 0px 0px 431px;
    display: block;
    float: left;
}

.arrow {
    width: 9px;
    height: 6px;
    background-image: url(./headerleoshop/arrow.png);
    display: inline-block;
}

.logo {
    width: 166px;
    height: 26px;
    background-image: url(./headerleoshop/LeoShop.png);
    margin: 35px 0px 0px 190px;
    display: block;
    float: left;
}

.nav3 {
    width: 346px;
    color: #656565;
    text-transform: uppercase;
    word-spacing: 15px;
    font-size: 14px;
    font-weight: bold;
    margin: 43px 0px 0px 60px;
    display: block;
    float: left;
}

.rectangle2 {
    width: 176px;
    height: 31px;
    background-color: #ffffff;
    border: 1px solid rgba(198, 198, 198, 1);
    margin: 31px 0px 0px 112px;
    display: block;
    float: left;
}

.search {
    font-size: 13px;
    color: #b7b7b7;
    margin: 11px 0px 0px 12px;
    display: block;
    float: left;
}

.dandruff {
    background-image: url(./headerleoshop/dandruff.png);
    width: 15px;
    height: 15px;
    margin: 9px 0px 0px 92px;
    display: block;
    float: left;
}

.circle1 {
    background-image: url(./headerleoshop/Ellipse\ 1.png);
    width: 38px;
    height: 38px;
    margin: 28px 0px 0px 12px;
    display: block;
    float: left;
}

.icon {
    background-image: url(./headerleoshop/1.png);
    width: 20px;
    height: 17px;
    margin: 11px 9px 10px 9px;
    display: block;
    float: left;
}

.circle2 {
    background-image: url(./headerleoshop/Ellipse\ 1.png);
    width: 38px;
    height: 38px;
    margin: 28px 0px 0px 1px;
    display: block;
    float: left;
}

.menubasket {
    background-image: url(./headerleoshop/basket.png);
    width: 20px;
    height: 17px;
    margin: 11px 12px 10px 7px;
    display: block;
    float: left;
}

.cart {
    background-image: url(./headerleoshop/Cart0.png);
    width: 59px;
    height: 12px;
    margin: 43px 0px 0px 12px;
    display: block;
    float: left;
}

.main {
    width: 1402px;
    height: 2524px;
    margin: 0px auto;
}

.layer2 {
    width: 1400px;
    height: 485px;
    background-image: url(./bannerleoshop/layer2.png);
    top: 24px;
    position: relative;
}

.layer3 {
    width: 285px;
    height: 47px;
    background-image: url(./bannerleoshop/Layer\ 3.png);
    margin: 201px 0px 0px 47px;
    display: block;
    float: left;
}

.layer3copy {
    width: 329px;
    height: 47px;
    background-image: url(./bannerleoshop/Layer\ 3\ copy.png);
    top: 251px;
    left: 229px;
    position: absolute;
}

.aluminum {
    width: 298px;
    height: 71px;
    background-image: url(./bannerleoshop/ALUMINUM\ CLUB\ E.png);
    top: 214px;
    left: 244px;
    position: absolute;
}

.circleleft {
    width: 70px;
    height: 70px;
    background-image: url(./bannerleoshop/Ellipse\ .png);
    margin: 214px 0px 0px 112px;
    display: block;
    float: left;
}

.circleright {
    width: 70px;
    height: 70px;
    background-image: url(./bannerleoshop/Ellipse\ .png);
    margin: 214px 0px 0px 706px;
    display: block;
    float: left;
}

.arrowleft {
    width: 18px;
    height: 31px;
    background-image: url(./bannerleoshop/left.png);
    margin: 20px 28px 19px 24px;
    display: inline-block;
}

.arrowright {
    width: 18px;
    height: 31px;
    background-image: url(./bannerleoshop/right.png);
    margin: 20px 26px 19px 26px;
    display: inline-block;
}

/*розділ featured products*/
.featured {
    width: 776px;
    height: 1050px;
    margin-top: 249px;
    margin-left: 181px;
    float: left;
}

.blocktext {
    text-transform: uppercase;
    font-size: 24px;
    color: #635f57;
    text-align: left;
    margin: 0px 0px 0px 7px;
}

.glrectangle {
    width: 234px;
    height: 319px;
    border: 1px solid #eeeeee;
    margin: 10px 0px 0px 15px;
    float: left;
}

.layergl {
    width: 232px;
    height: 232px;
    background-image: url(./featureproduct/layer6.png);
    right: 8px;
    top: 8px;
    position: relative;
}

.blockgl {
    width: 776px;
    height: 342px;
}

/*окуляри фото*/
.photogl1 {
    width: 184px;
    height: 139px;
    background-image: url(./featureproduct/слой1.jpg);
    background-repeat: no-repeat no-repeat;
    top: 62px;
    left: 33px;
    position: absolute;
}

.photogl2 {
    width: 184px;
    height: 139px;
    background-image: url(./featureproduct/слой2.jpg);
    background-repeat: no-repeat no-repeat;
    top: 62px;
    left: 33px;
    position: absolute;
}

.photogl3 {
    width: 184px;
    height: 139px;
    background-image: url(./featureproduct/слой3.jpg);
    background-repeat: no-repeat no-repeat;
    top: 62px;
    left: 33px;
    position: absolute;
}

.photogl4 {
    width: 184px;
    height: 139px;
    background-image: url(./featureproduct/слой4.jpg);
    background-repeat: no-repeat no-repeat;
    top: 62px;
    left: 33px;
    position: absolute;
}

.photogl5 {
    width: 184px;
    height: 139px;
    background-image: url(./featureproduct/слой5.jpg);
    background-repeat: no-repeat no-repeat;
    top: 62px;
    left: 33px;
    position: absolute;
}

.photogl6 {
    width: 184px;
    height: 139px;
    background-image: url(./featureproduct/слой6.jpg);
    background-repeat: no-repeat no-repeat;
    top: 62px;
    left: 33px;
    position: absolute;
}

.photogl7 {
    width: 184px;
    height: 139px;
    background-image: url(./featureproduct/слой7.jpg);
    background-repeat: no-repeat no-repeat;
    top: 62px;
    left: 33px;
    position: absolute;
}

.photogl8 {
    width: 184px;
    height: 139px;
    background-image: url(./featureproduct/слой8.jpg);
    background-repeat: no-repeat no-repeat;
    top: 62px;
    left: 33px;
    position: absolute;
}

.photogl9 {
    width: 184px;
    height: 139px;
    background-image: url(./featureproduct/слой9.jpg);
    background-repeat: no-repeat no-repeat;
    top: 62px;
    left: 33px;
    position: absolute;
}

/*новинка*/
.newtextgl {
    width: 32px;
    height: 29px;
    background-image: url(./featureproduct/newText.png);
    background-repeat: no-repeat no-repeat;
    bottom: 199px;
    left: 195px;
    position: absolute;
    z-index: 2;
}

.newtopgl {
    width: 8px;
    height: 5px;
    background-image: url(./featureproduct/newRectangletop.png);
    background-repeat: no-repeat no-repeat;
    bottom: 238px;
    left: 148px;
    position: absolute;
    z-index: 1;
}

.newbottomgl {
    width: 5px;
    height: 8px;
    background-image: url(./featureproduct/newRectanglebottom.png);
    background-repeat: no-repeat no-repeat;
    bottom: 147px;
    left: 243px;
    position: absolute;
    z-index: 1;
}

.newgl {
    width: 97px;
    height: 91px;
    background-image: url(./featureproduct/newRectangle.png);
    background-repeat: no-repeat no-repeat;
    bottom: 152px;
    left: 151px;
    position: absolute;
    z-index: 1;
}

.newshapegl {
    width: 98px;
    height: 94px;
    background-image: url(./featureproduct/newShape.png);
    background-repeat: no-repeat no-repeat;
    bottom: 149px;
    left: 150px;
    position: absolute;
    z-index: 1;
}

/*розпродаж*/
.saletextgl {
    width: 32px;
    height: 29px;
    background-image: url(./featureproduct/saleText.png);
    background-repeat: no-repeat no-repeat;
    bottom: 199px;
    left: 16px;
    position: absolute;
    z-index: 2;
}

.saletopgl {
    width: 8px;
    height: 5px;
    background-image: url(./featureproduct/saleRectangletop.png);
    background-repeat: no-repeat no-repeat;
    bottom: 238px;
    left: 93px;
    position: absolute;
    z-index: 1;
}

.salebottomgl {
    width: 5px;
    height: 8px;
    background-image: url(./featureproduct/saleRectanglebottom.png);
    background-repeat: no-repeat no-repeat;
    bottom: 147px;
    left: 0px;
    position: absolute;
    z-index: 1;
}

.salegl {
    width: 97px;
    height: 91px;
    background-image: url(./featureproduct/saleRectangle.png);
    background-repeat: no-repeat no-repeat;
    bottom: 152px;
    left: 0px;
    position: absolute;
    z-index: 1;
}

.saleshapegl {
    width: 98px;
    height: 94px;
    background-image: url(./featureproduct/saleShape.png);
    background-repeat: no-repeat no-repeat;
    bottom: 149px;
    left: 0px;
    position: absolute;
    z-index: 1;
}

/*еліпс+ кошик*/
.ellipse {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: rgba(126, 177, 35, 1);
    top: 237px;
    left: 180px;
    position: absolute;
}

.basket {
    width: 27px;
    height: 26px;
    background-image: url(./featureproduct/basket2.png);
    margin: 12px 11px 12px 12px;
    display: block;
}

/*розділ staff pick*/
.staffpick {
    width: 776px;
    height: 360px;
    margin-top: 55px;
    margin-left: 181px;
    float: left;
}

.blockgl1 {
    width: 776px;
    height: 360px;
}

.photogl21 {
    width: 184px;
    height: 139px;
    background-image: url(./staffpickleoshop/слой21.jpg);
    background-repeat: no-repeat no-repeat;
    top: 62px;
    left: 33px;
    position: absolute;
}

.photogl22 {
    width: 184px;
    height: 139px;
    background-image: url(./staffpickleoshop/слой22.jpg);
    background-repeat: no-repeat no-repeat;
    top: 62px;
    left: 33px;
    position: absolute;
}

.photogl23 {
    width: 184px;
    height: 139px;
    background-image: url(./staffpickleoshop/слой23.jpg);
    background-repeat: no-repeat no-repeat;
    top: 62px;
    left: 33px;
    position: absolute;
}

/*розділ new products*/
.newproducts {
    width: 776px;
    height: 360px;
    margin-top: 64px;
    margin-left: 181px;
    float: left;
}

.photogl31 {
    width: 184px;
    height: 139px;
    background-image: url(./newproductleoshop/слой31.jpg);
    background-repeat: no-repeat no-repeat;
    top: 62px;
    left: 33px;
    position: absolute;
}

.photogl32 {
    width: 184px;
    height: 139px;
    background-image: url(./newproductleoshop/слой32.jpg);
    background-repeat: no-repeat no-repeat;
    top: 62px;
    left: 33px;
    position: absolute;
}

.photogl33 {
    width: 184px;
    height: 139px;
    background-image: url(./newproductleoshop/слой33.jpg);
    background-repeat: no-repeat no-repeat;
    top: 62px;
    left: 33px;
    position: absolute;
}

/*правий блок "підпиcатися"*/
.left {
    width: 408px;
    height: 804px;
    top: 687px;
    left: 886px;
    position: absolute;
}

/*"підписатися" розділ верхній*/
.top {
    width: 408px;
    height: 490px;
}

.leftrectangle {
    width: 233px;
    height: 4px;
    background-color: #4cb1ca;
    margin-top: 6px;
    margin-left: 90px;
}

.photo {
    width: 408px;
    height: 490px;
    background-image: url(./leftleoshop/Layer35.png);
    top: 54px;
    position: relative;
}

.lefttext {
    text-transform: uppercase;
    font-size: 24px;
    color: #635f57;
    text-align: center;
    line-height: 1.5;
    left: 148px;
    top: 35px;
    position: absolute;
    z-index: 10;
}

.button {
    background-color: rgba(76, 177, 202, 1);
    width: 135px;
    height: 47px;
    top: 315px;
    left: 137px;
    position: absolute;
}

.buttontext {
    width: 80px;
    font-size: 14px;
    margin: 17px 27px 16px 27px;
    text-align: center;
    white-space: normal;
    display: inline-block;
}

.leftrectangle2 {
    width: 233px;
    height: 42px;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    top: 385px;
    left: 90px;
    position: absolute;
}

.circleblue {
    width: 14px;
    height: 14px;
    background-image: url(./leftleoshop/EllipseBlue.png);
    margin: 17px 0px 0px 89px;
    display: block;
    float: left;
}

.circlegreen1 {
    width: 14px;
    height: 14px;
    background-image: url(./leftleoshop/EllipseGreen.png);
    margin: 17px 0px 0px 7px;
    display: block;
    float: left;
}

.circlegreen2 {
    width: 14px;
    height: 14px;
    background-image: url(./leftleoshop/EllipseGreen.png);
    margin: 17px 0px 0px 7px;
    display: block;
    float: left;
}

.bottom {
    width: 408px;
    height: 310px;
}

/*"підписатися" розділ нижній*/
.leftrectangle3 {
    width: 233px;
    height: 4px;
    background-color: #4cb1ca;
    margin-top: 28px;
    margin-left: 90px;
}

.lefttext1 {
    width: 160px;
    height: 46px;
    text-transform: uppercase;
    font-size: 24px;
    color: #635f57;
    text-align: center;
    line-height: 1.5;
    margin-left: 124px;
    margin-top: 25px;
    display: block;
}

.lefttext2 {
    width: 188px;
    height: 34px;
    font-size: 14px;
    color: #696969;
    text-align: center;
    margin-left: 110px;
    margin-top: 35px;
    display: block;
}

.leftrectangle4 {
    width: 88px;
    height: 4px;
    background-color: rgba(237, 237, 237, 1);
    margin-top: 10px;
    margin-left: 160px;
}

.leftrectangle5 {
    width: 186px;
    height: 30px;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    margin-top: 24px;
    margin-left: 110px;
    display: block;
}

.button2 {
    background-color: rgba(126, 177, 35, 1);
    width: 115px;
    height: 47px;
    top: 753px;
    left: 147px;
    position: absolute;
}

.buttontext2 {
    width: 65px;
    font-size: 14px;
    margin: 17px 25px 16px 25px;
    text-align: center;
    white-space: normal;
    display: inline-block;
}

.footer {
    width: 1402px;
    height: 506px;
    margin: 0px auto;
}

.rectangle97 {
    width: 1402px;
    height: 104px;
    background-color: #4cb1ca;
    display: block;
}

.ellipse97 {
    background-image: url(./footerleoshop/Ellipse\ 5.png);
    margin-top: 20px;
    margin-left: 186px;
    display: block;
    float: left;
}

.truck97 {
    width: 34px;
    height: 28px;
    background-image: url(./footerleoshop/truck.png);
    margin: 20px 17px 20px 17px;
    display: block;
}

.ellipse96 {
    background-image: url(./footerleoshop/Ellipse\ 5.png);
    margin-top: 20px;
    margin-left: 85px;
    display: block;
    float: left;
}

.phone97 {
    width: 28px;
    height: 28px;
    background-image: url(./footerleoshop/phone.png);
    margin: 20px;
    display: block;
    float: left;
}

.trucktext {
    font-size: 21px;
    text-transform: uppercase;
    color: #ffffff;
    word-spacing: normal;
    margin-top: 40px;
    margin-left: 19px;
    display: block;
    float: left;
}

.phonetext {
    font-size: 21px;
    text-transform: uppercase;
    color: #ffffff;
    word-spacing: normal;
    margin-top: 40px;
    margin-left: 19px;
    display: block;
    float: left;
}

.rectangle98 {
    width: 1402px;
    height: 357px;
    background-color: #39a0b9;
    display: block;
}

p[title="footertext"] {
    font-size: 13px;
    color: white;
    word-spacing: normal;
    display: block;
}

p[title="titletext"] {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    word-spacing: normal;
    display: block;
}

.facebook {
    width: 236px;
    height: 240px;
    margin-top: 51px;
    margin-left: 190px;
    display: block;
    float: left;
}

.fbtext1 {
    margin-top: 20px;
}

.fbtext2 {
    margin-top: 8px;
}

.like {
    width: 47px;
    height: 23px;
    background-image: url(./footerleoshop/Like.png);
    top: 4px;
    position: relative;
    display: block;
}

.shapefb1 {
    height: 4px;
    background-color: rgba(76, 177, 202, 1);
    margin-top: 7px;
    display: block;
}

.shapefb2 {
    height: 4px;
    background-color: rgba(76, 177, 202, 1);
    margin-top: 6px;
    display: block;
}

.photofb {
    width: 236px;
    height: 116px;
    top: 1px;
    position: relative;
    display: block;
}

.ph1 {
    width: 50px;
    height: 50px;
    background-image: url(./footerleoshop/ph1.png);
    top: 6px;
    position: absolute;
    display: block;
}

.ph2 {
    width: 50px;
    height: 50px;
    background-image: url(./footerleoshop/ph2.png);
    top: 6px;
    left: 61px;
    position: absolute;
    display: block;
}

.ph3 {
    width: 50px;
    height: 50px;
    background-image: url(./footerleoshop/ph3.png);
    top: 6px;
    left: 122px;
    position: absolute;
    display: block;
}

.ph4 {
    width: 50px;
    height: 50px;
    background-image: url(./footerleoshop/ph4.png);
    top: 6px;
    left: 183px;
    position: absolute;
    display: block;
}

.ph5 {
    width: 50px;
    height: 50px;
    background-image: url(./footerleoshop/ph5.png);
    top: 66px;
    position: absolute;
    display: block;
}

.ph6 {
    width: 50px;
    height: 50px;
    background-image: url(./footerleoshop/ph6.png);
    top: 66px;
    left: 61px;
    position: absolute;
    display: block;
}

.ph7 {
    width: 50px;
    height: 50px;
    background-image: url(./footerleoshop/ph7.png);
    top: 66px;
    left: 122px;
    position: absolute;
    display: block;
}

.ph8 {
    width: 50px;
    height: 50px;
    background-image: url(./footerleoshop/ph8.png);
    top: 66px;
    left: 183px;
    position: absolute;
    display: block;
}

.twitter {
    width: 223px;
    height: 220px;
    margin-top: 51px;
    margin-left: 48px;
    display: block;
    float: left;
}

.twellipse1 {
    width: 46px;
    height: 46px;
    background-image: url(./footerleoshop/Ellipse4646.png);
    margin-top: 26px;
    float: left;
}

.twlogo1 {
    width: 20px;
    height: 17px;
    background-image: url(./footerleoshop/tw.png);
    margin: 13px 15px 13px 14px;
    float: left;
}

.twtext1 {
    width: 165px;
    height: 70px;
    margin-top: 26px;
    margin-left: 12px;
    float: left;
}

.twellipse2 {
    width: 46px;
    height: 46px;
    background-image: url(./footerleoshop/Ellipse4646.png);
    margin-top: 24px;
    float: left;
}

.twlogo2 {
    width: 20px;
    height: 17px;
    background-image: url(./footerleoshop/tw.png);
    margin: 13px 15px 13px 14px;
    float: left;
}

.twtext2 {
    width: 165px;
    height: 70px;
    margin-top: 31px;
    margin-left: 12px;
    float: left;
}

.information {
    width: 186px;
    height: 182px;
    margin-top: 51px;
    margin-left: 73px;
    display: block;
    float: left;
}

.infoarrow {
    width: 6px;
    height: 129px;
    background-image: url(./footerleoshop/arrowv.png);
    margin-top: 30px;
    margin-left: 1px;
    display: block;
    float: left;
}

.infotext {
    width: 168px;
    height: 133px;
    margin-top: 15px;
    margin-left: 11px;
    display: block;
    float: left;
}

.contactus {
    width: 199px;
    height: 277px;
    margin-top: 51px;
    margin-left: 60px;
    display: block;
    float: left;
}

.contactustext {
    width: 116px;
    height: 106px;
    margin-top: 15px;
    margin-left: 7px;
    display: block;
    float: left;
}

.shapecontactus {
    height: 4px;
    background-color: rgba(76, 177, 202, 1);
    margin-top: 149px;
    display: block;
}

.ellipsegplus {
    width: 39px;
    height: 39px;
    background-image: url(./footerleoshop/ellipse3939.png);
    margin-top: 15px;
    margin-left: 3px;
    display: block;
    float: left;
}

.gplus {
    width: 18px;
    height: 18px;
    background-image: url(./footerleoshop/Gplus.png);
    margin: 11px 10px 11px 11px;
    display: block;
}

.ellipsein {
    width: 39px;
    height: 39px;
    background-image: url(./footerleoshop/ellipse3939.png);
    margin-top: 15px;
    margin-left: 7px;
    display: block;
    float: left;
}

.in {
    width: 17px;
    height: 17px;
    background-image: url(./footerleoshop/in.png);
    margin: 11px 11px 11px 11px;
    display: block;
}

.ellipsewifi {
    width: 39px;
    height: 39px;
    background-image: url(./footerleoshop/ellipse3939.png);
    margin-top: 15px;
    margin-left: 7px;
    display: block;
    float: left;
}

.wifi {
    width: 15px;
    height: 15px;
    background-image: url(./footerleoshop/wifi.png);
    margin: 12px 12px 12px 12px;
    display: block;
}

.ellipsef {
    width: 39px;
    height: 39px;
    background-image: url(./footerleoshop/ellipse3939.png);
    margin-top: 15px;
    margin-left: 7px;
    display: block;
    float: left;
}

.f {
    width: 9px;
    height: 18px;
    background-image: url(./footerleoshop/f.png);
    margin: 10px 15px 11px 15px;
    display: block;
}

.rectangle99 {
    width: 1402px;
    height: 45px;
    font-size: 13px;
    background-color: #0b4b5a;
    display: block;
}

.nav9 {
    width: 330px;
    white-space: normal;
    word-spacing: 6px;
    margin: 21px 0px 0px 192px;
    display: block;
    float: left;
}

.nav10 {
    width: 465px;
    white-space: normal;
    word-spacing: 6px;
    margin: 21px 0px 0px 223px;
    display: block;
    float: left;
}