:root {
    --secondary: rgba(0, 0, 0, 0.7);
}

.txt7 a {
    text-decoration: none;
}

.details a {
    color: #0AA321;
    text-decoration: none;
}

p,
ul,
legend,
h2,
h3,
h4 {
    margin: 0px;
    padding: 0px;
}

.txt5::first-letter,
h2::first-letter {
    text-transform: uppercase;
}

.imgUp,
.imgDn,
.img1,
.img2,
.img3,
.graph {
    background-repeat: no-repeat no-repeat;
}

/*1200*2218 5 контейнерів (bootstrap4)*/
body {
    margin: 0px auto;
}

/*хедер 1200*620 1й контейнер 1й рядок (блоки: лого навбар знаки соц.мережі) 2й рядок (блок форма)*/
.header_top {
    min-height: 154px;
    background-color: var(--secondary);
}

.header {
    background-image: url(./img/imgUp.jpg);
    background-size: cover;
}

/*блок лого*/
.logo {
    margin-top: 24px;
}

/*блок навбар*/
.navUp {
    margin-top: 73px;
}

/*блок знаки соц.мережі*/
.icon {
    column-gap: 24px;
    margin-top: 76px;
}

legend {
    font-size: 28px;
    margin-top: 40px;
}

/*1й контейнер 2й рядок форма*/
.form {
    width: 352px;
    min-height: 389px;
    background-color: var(--secondary);
    margin-top: 48px;
    margin-bottom: 29px;
}

input[type="text"] {
    width: 252px;
    background-color: var(--secondary);
    margin-top: 30px;
    border-style: none;
    border-bottom: 1px solid #ffffff;
}

input[type="email"] {
    width: 252px;
    background-color: var(--secondary);
    margin-top: 15px;
    border-style: none;
    border-bottom: 1px solid #ffffff;
}

input[type="tel"] {
    width: 252px;
    background-color: var(--secondary);
    margin-top: 15px;
    border-style: none;
    border-bottom: 1px solid #ffffff;
}

button[type="submit"] {
    width: 263px;
    background-color: #0AA321;
    margin-top: 45px;
    border-style: none;
}

button[type="submit"]:hover {
    background-color: #ffffff;
    color: var(--secondary);
}

/*1200*90 2й контейнер 1й рядок (заголовок)*/
.block {
    min-height: 420px;
    background-color: #ffffff;
}

.txt3 {
    margin-top: 31px;
    font-size: 48px;
}

/*1200*330 2й контейнер 2й рядок (графік росту опис)*/
.graph {
    width: 433px;
    height: 224px;
    background-image: url(./img/Слой\ 7.png);
    top: 30px;
    position: relative;
}

.growth {
    width: 322px;
    height: 173px;
    background-image: url(./img/Слой\ 8.png);
    position: absolute;
}

/*блок опис*/
.description {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 18px;
}

.details {
    margin-left: 55px;
    margin-bottom: 70px;
    font-size: 18px;
}

/*1200*400 3й контейнер послуги*/
.imgDn {
    min-height: 400px;
    background-image: url(./img/imgDn.jpg);
    background-size: cover;
}

.txt5 {
    font-size: 18px;
    color: #ffffff;
}

/*1200*620 4й контейнер порожній білий*/
.empty {
    min-height: 620px;
    background-color: #ffffff;
}

/*футер 1200*158 5й контейнер*/
.footer {
    min-height: 158px;
    background-color: rgba(0, 0, 0, 1);
}

/*блок лого*/
.logoDn {
    margin-top: 48px;
}

/*блок знаки соц.мережі*/
.iconDn {
    column-gap: 24px;
    margin-top: 18px;
}

.navDn {
    margin-top: 44px;
}

.txt7 {
    font-size: 12px;
    margin-top: 23px;
    margin-right: 16px;
}