@font-face {
    font-family: 'minion_proregular';
    src: url(./font/MinionPro-Regular.otf), url(./font/minionpro-regular-webfont.woff), url(./font/minionpro-regular-webfont.woff2);
    font-weight: normal;
    font-style: normal;
}

:root {
    --size: 100%;
}

a[title="navi"] {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #000000;
}

a[title="email"],
[title="phone"] {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

p {
    width: var(--size);
    font-size: 12px;
}

pre {
    margin: 0px auto;
    font-size: 18px;
    font-family: 'minion_proregular';
}

body {
    margin: 0px auto;
    padding: 0px;
    font-family: 'minion_proregular';
}

aside {
    width: 24.54%;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
}

.boxlogo {
    width: 24.54%;
    display: flex;
    flex-shrink: 1;
}

.logoup {
    width: 60.50%;
    margin-top: 1px;
    margin-left: 14.11%;
}

.logooroshen {
    width: 46.71%;
    top: 41px;
    left: 20.06%;
    position: relative;
}

article {
    width: var(--size);
    height: 1070px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}

header {
    width: var(--size);
    height: 95px;
    display: flex;
    flex-direction: row;
}

header nav {
    width: 75.46%;
    word-wrap: anywhere;
    display: flex;
    margin-top: 27px;
    gap: 4px;
}

.oroshen {
    width: 8.77%;
}

.new {
    width: 9.38%;
}

.shop {
    width: 9.99%;
}

.socialproject {
    width: 19.37%;
}

.fountain {
    width: 14.68%;
}

.career {
    width: 8.56%;
}

.contact {
    width: 10.29%;
}

.ellipse {
    width: 3.06%;
    bottom: 8px;
    left: 0%;
    position: relative;
}

.eng {
    width: 3.98%;
    bottom: 4px;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    position: relative;
}

.arrow {
    width: 1.53%;
    bottom: 4px;
    position: relative;
}

.text {
    width: var(--size);
    height: 25px;
    display: flex;
    flex-direction: column;
}

.textoroshen {
    width: 90.3%;
    height: 18px;
}

main {
    width: 75.46%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

section:nth-child(1) {
    width: var(--size);
}

.image {
    width: 93.37%;
    height: 357px;
    display: flex;
    flex-direction: column;
    background-color: rgba(174, 174, 174, 1);
}

.imagepng {
    width: 13.974%;
    top: 43px;
    left: 43.23%;
    position: relative;
}

section:nth-child(2) {
    width: var(--size);
    display: flex;
    flex-direction: column;
    line-height: 1.96;
}

footer {
    width: var(--size);
    height: 410px;
    font-size: 14px;
    display: flex;
    flex-direction: row;
}

.boxlogo2 {
    width: 27.85%;
    display: flex;
    flex-shrink: 1;
}

.logodn {
    width: 53.31%;
    margin-top: 63px;
    margin-left: 12.43%;
}

footer nav {
    width: 49.23%;
    margin-top: 87px;
    margin-left: 0%;
    display: flex;
    gap: 5px;
    flex-direction: row;
}

address {
    width: 22.92%;
    height: 38px;
    margin-top: 87px;
    margin-left: 0%;
    font-style: normal;
    display: flex;
}

.phone {
    width: 46%;
    height: 38px;
}

.email {
    width: 31.5%;
    height: 38px;
    margin-top: 3px;
    margin-left: 0%;
}

.fb {
    width: 5.16%;
    margin-top: 6px;
}

.vk {
    width: 5.16%;
    margin-top: 6px;
}